@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
* {
    box-sizing: border-box;
    user-select: none;
}
body {
    margin: 0;
}
#content {
    height: 100vh;
    width: 100vw;
    background-image: url('./chef.jpg'); 
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 15vw 85vw;
}
.heading {
    color: rgb(255, 255, 255);
    font-family: 'Catamaran', sans-serif;
    font-size: 20vh;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    height: 100%;
}
.sidebar {
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    height: 3rem;
    justify-items: center;
    margin-top: 2rem;
}
.sidebar > div {
    background-color: white;
    width: 8rem;
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem;
    text-align: center;
}
.sidebar > div:hover {
    color: white;
    background-color: transparent;
    cursor: pointer;
}