@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
* {
    box-sizing: border-box;
    user-select: none;
}
body {
    margin: 0;
}
#content {
    height: 100vh;
    width: 100vw;
    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .8)), url('./chef.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 15vh 85vh;
}
.heading {
    color: rgb(255, 255, 255);
    font-family: 'Catamaran', sans-serif;
    font-size: 20vh;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    grid-row: 1 / 3;
}
.sidebar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 3rem;
    justify-items: center;
    margin-top: 2rem;
}
.sidebar > div {
    color: white;
    width: 8rem;
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem;
    text-align: center;
    border-bottom: solid 2px white;
}
.sidebar > div:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}