@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Gentium+Plus:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}
body {
    user-select: none;
    margin: 0;
    background-color: black;
    overflow-x: hidden
}
body::-webkit-scrollbar {
    display: none;
  }
#content {
    background:linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 1)), url('./chef.jpg');
    background-size: cover;
    background-position: center;
    display: grid; 
    grid-template-columns: 12vw 76vw 12vw;
    grid-template-rows: 15vh 85vh 1fr;
}
.heading {
    color: #f8f8ff;
    font-family: 'Catamaran', sans-serif;
    font-size: 20vh;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    grid-row: 1 / 3;
    justify-self: start;
}
.sidebar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 3rem;
    justify-items: center;
    margin-top: 2rem;
}
.sidebar > div {
    color: #f8f8ff;
    width: 8rem;
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem;
    text-align: center;
    border-bottom: solid 2px #f8f8ff;
}
.sidebar > div:hover {
    color: black;
    background-color: #f8f8ff;
    cursor: pointer;
    text-decoration: none;
}
.about {
    user-select: text;
    color: #f8f8ff;
    border: 3px solid #f8f8ff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    align-self: center;
    justify-self: center;
    width: 50rem;
    padding: 2rem;
    grid-row: 2 / 4;
}
h1 {
    font-family: 'Gentium Plus', serif;
    font-weight: 700;
    text-align: center;
}
p {
    text-indent: 3rem;
    font-size: 1.5rem;
    font-family: 'Gentium Plus', serif;
    font-weight: 400;
}
.contact {
    user-select: text;
    color: #f8f8ff;
    border: 3px solid #f8f8ff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    align-self: center;
    justify-self: center;
    width: 40%;
    padding: 2rem;
    grid-row: 2 / 4;
    text-align: center;
}
.menu {
    user-select: text;
    color: #f8f8ff;
    border: 3px solid #f8f8ff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    align-self: center;
    justify-self: center;
    width: 40%;
    padding: 2rem;
    grid-row: 2 / 4;
    text-align: center;
    font-size: 1.2rem;
    padding: 6rem 6rem 6rem 6rem;
}
.menu span {
    font-weight: 700;
    font-size: 1.6rem;
}
input, textarea, button {
    display: inline-block;
    width: 30rem;
    height: 5rem;
    margin-bottom: 1rem;
    background-color: #f8f8ff;
    font-family: 'Gentium Plus', serif;
    font-weight: 400;
    font-size: 1.5rem;
    resize: vertical;
}
button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}
button:hover {
    background-color: rgba(255, 255, 255, .2);
}